
@{
    ViewData["Title"] = "Login";

    ViewData["alert"] = "Ingrese sus credenciales";


}


<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Login</h2>
                    <p>Mi Fragancia, El olor de los sueños! </p>
                </div>
                <form id="Login" method="POST" asp-action="Login">
                    <span id="reauth-email" class="reauth-email"></span>
                    <div class="form-group">
                        <label>@ViewData["alert"]</label>
                        <input name="email"  class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input name="pass" class="form-control"  type="password" id="inputPassword" placeholder="Contraseña">
                    </div>
                    <div class="forgot">

                    </div>
                    <button type="submit" value="Login" asp-controller="UsuarioModels" asp-action="Login" class="btn btn-primary">Login</button>
                </form>
                <a asp-controller="UsuarioModels" asp-action="Create">Registrarse</a>
            </div>
            <p class="botto-text"> Designed by MiFragancia</p>
        </div>
    </div>


</body>
