@model MiFragancia.Models.Producto

@{
    ViewData["Title"] = "Create";
}

@if (Log.isSingin)
{
    <h2>Create</h2>

    <h4>Producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Tipo del Prodcuto</label><br />
                    <a asp-controller="TipoProductoes" asp-action="Create">		Agregar Tipo </a>
                    <select asp-for="TipoProductoId" class="form-control" asp-items="ViewBag.TipoProductoId"></select>
                </div>
                <div class="form-group">

                    <label  class="control-label">Imagen</label><br />

                    <a asp-controller="Imagens" asp-action="Create">		Añadir una imagen </a>
                    <select asp-for="ImagenId" class="form-control" asp-items="ViewBag.ImagenId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

}
else
{
    <H1>Ooop! parece que tienes que logearte!</H1>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
